body
{
	background-color: rgb(8, 5, 26)

}

#container
{
	width:1200px;
	margin-left: auto;
	margin-right: auto;
    background-color: rgb(8, 5, 26);
	min-height: 100px;
	max-height: auto;
}

#logo
{
	width: 1198px;
	height: 100px;
    background-color: rgb(37, 36, 54);
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    text-align: center;
    padding: 1px;
    
}

#menu
{
    width: 1200px;
    margin-top: 10px;
    background-color: rgb(46, 45, 65);
	height: auto;
	

}

#Data
{
	float:left;
	width: 399px;
	height: 48px;
	text-align: center;
	background-color: rgb(46, 45, 65);
	font-family: 'Josefin Sans', sans-serif;
    color: white;
	float: left;
	padding-left: 1px;
	
}

#Data:hover
{
	background-color: rgb(8, 5, 26)
}

#Chart
{
	float:left;
	width: 400px;
	height: 48px;
	text-align: center;
	background-color: rgb(46, 45, 65);
	font-family: 'Josefin Sans', sans-serif;
    color: white;
}

#Chart:hover
{
	background-color: rgb(8, 5, 26)
}

#main
{
    width: 1196px;
    background-color: rgb(37, 36, 54);
    padding: 2px;
    float: left;
	min-height: 100px;
	max-height: auto;
	text-align: center
}

#table_row
{	font-family: 'Josefin Sans', sans-serif;
    color: white;
	padding: 10px;
	margin-left: 80px;
	margin-right: 80px;
	
	
}

td
{
	padding: 1px;
	
}
